@import "colors";

.map {
  width: fit-content;

  .contentOverMap {
    position: relative;

    .zoomControllers {
      background-color: rgba(255, 255, 255, 0.8);
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      border-radius: 0 0 0 4px;

      .zoomControl {
        font-size: 35px;
        font-weight: 900;
        padding: 10px;
        cursor: pointer;
        user-select: none;
        color: rgba(75, 75, 75, 1);
        transition: all 0.2s ease;

        &:last-of-type {
          padding-top: 0;
        }

        &:hover {
          background-color: #ededed;
          color: rgba(15, 15, 15, 1);
        }
      }
    }

    .link {
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.9);
      width: fit-content;
      padding: 8px;
      border-radius: 0 0 4px 0;

      a {
        font-size: 12pt;
      }
    }
  }
}
