@import "colors";

#companiesWrap {
  padding: 150px 10px 0 10px;
  background-color: $navyFade;
  // background: linear-gradient(90deg, rgba(0,0,0,0) 0%, $navy 15%, $navy 85%, rgba(0,0,0,0) 100%);
  width: 100vw;
  margin-left: calc( calc(100% - 100vw) /2);
  margin-top: -151px;

  #modalBackground {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;

    #modal {
      background-color: $bannerBackground;
      // background-color: $gray;
      width: 90%;
      max-width: 1000px;
      box-shadow: $boxShadow;
      // border: $border;
      border-radius: 3px;
      position: relative;
      display: none;
      // color: #fff;

      -webkit-animation: modalOpen 0.4s ease;
      animation: modalOpen 0.4s ease;

      /*animated scroll arrow animation*/
      @-webkit-keyframes modalOpen {
        0%   { top: -50px; opacity: 0; }
        100%  { top: 0; opacity: 1;  }
      }
      @keyframes modalOpen {
        0%   { top: -50px; opacity: 0; }
        100%  { top: 0; opacity: 1;  }
      }

      #modalCloseButton {
        position: relative;

        .fa {
          position: absolute;
          top: 0;
          right: 0;
          margin-top: 7px;
          margin-right: 12px;
          font-size: 35px;
          cursor: pointer;
          color: rgb(170, 170, 170);
          transition: all 0.2s ease;

          &:hover {
            color: #fff;
          }
        }
      }

      #companyContainer {
        #companyModalName {
          padding: 15px;
          padding-right: 35px;
          width: 100%;
          background-color: $navy;

          h1 {
            text-align: center;
            font-size: 40px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            color: #fff;

            @media screen and (max-width: $bigPhone) {
              font-size: 32px;
            }
          }
        }

        #companyModalWrap {
          padding: 15px;
          max-height: 600px;
          overflow-y: auto;

          h2 {
            margin-bottom: 7px;

            &:not(:first-of-type) {
              margin-top: 20px;

              @media screen and (max-width: $ipad) {
                margin-top: 0;
              }
            }
          }

          #companyModalDescAndLogo {
            // padding-right: 35px;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            justify-content: space-between;

            @media screen and (max-width: $ipad) {
              flex-direction: column;
              align-items: flex-start;
            }

            #companyModalLogo {
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              width: 30%;
              height: auto;
              // background-color: #fff;
              border-radius: 4px;
              padding: 20px;

              -webkit-animation: modalOpenLogoAnim 0.9s ease;
              animation: modalOpenLogoAnim 0.9s ease;

              /*animated scroll arrow animation*/
              @-webkit-keyframes modalOpenLogoAnim {
                0%   { opacity: 0; }
                30%   { opacity: 0; }
                100%  { opacity: 1; }
              }
              @keyframes modalOpenLogoAnim {
                0%   { opacity: 0; }
                30%   { opacity: 0; }
                100%  { opacity: 1; }
              }

              @media screen and (max-width: $ipad) {
                height: 150px;
                width: auto;
                max-width: 100%;
                align-self: center;
              }
            }

            #companyModalDesc {
              width: 68%;
              font-size: 14pt;
              line-height: 25px;
              letter-spacing: 0.2px;

              @media screen and (max-width: $ipad) {
                width: 100%;
              }
            }
          }

          #companyModalOffers {
            display: flex;
            width: 60%;
            justify-content: flex-start;
            flex-wrap: wrap;

            .offer {
              margin-right: 10px;
              margin-top: 5px;
              padding: 10px 20px 10px 20px;
              background-color: $navy;
              border-radius: 10px;
              color: #fff;
              font-size: 14pt;
            }

            @media screen and (max-width: $ipad) {
              width: 100%;
            }
          }

          a {
            margin-top: 20px;
            margin-bottom: 20px;
            display: inline-block;
            font-size: 14pt;
            letter-spacing: 0.2px;

            @media screen and (max-width: $bigPhone) {
              margin-bottom: 100px;
            }
          }
        }
      }
    }
  }

  #companiesContainer {
    width: 100%;
    max-width: 1200px;
    margin: auto;

    .companiesRow {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;

      .companyWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        transition: all 0.2s ease;
        align-self: stretch;

        .company {
          user-select: none;
          height: 100%;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          align-items: center;
          padding: 15px;
          width: 100%;
          cursor: pointer;
          background-color: #e0e0e0;
          border-radius: 6px;

          h3 {
            display: inline-block;
            font-size: 18pt;
            white-space: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;

            @media screen and (max-width: 1000px) {
              hyphens: auto;
            }

            @media screen and (max-width: $ipad) {
              font-size: 14pt;
              hyphens: none;
            }
          }

          p {
            font-size: 11pt;
            align-items: center;

            @media screen and (max-width: $ipad) {
              font-size: 10pt;

              @media screen and (max-width: $bigPhone) {
                font-size: 8pt;
              }
            }
          }

          img {
            height: auto;
            max-width: 100%;
            max-height: 55%;
            transition: all 0.2s ease;
            padding: 10px;
          }
        }

        &:hover {
          border-radius: 3px;
          text-decoration: none;
          padding: 10px;

          .company {
            background-color: #fff;
            margin: 5px;

            img {
              max-height: 60%;
            }

            p {
              text-decoration: underline;
            }
          }
        }
      }
    }

    #goldCompaniesWrap, #silverCompaniesWrap, #bronzeCompaniesWrap, #regularCompaniesWrap, #startupCompaniesWrap {
      h2 {
        margin: auto;
        max-width: 700px;
        text-align: center;
        padding: 10px;
        border-top: 2px solid #fff;
        color: #fff;
        font-size: 40px;
        margin-top: 10px;
      }

      &:first-of-type {
        h2 {
          border: none;
        }
      }
    }

    /* GOLD COMPANIES */
    #goldCompaniesWrap {
      #goldCompaniesContainer {
        .companyWrap {
          width: 49%;

          img {
            height: 250px;
          }

          @media screen and (max-width: $bigPhone) {
            width: 100%;
          }
        }
      }
    }

    /* SILVER COMPANIES */
    #silverCompaniesWrap {
      #silverCompaniesContainer {
        .companyWrap {
          width: 38%;

          img {
            height: 160px;
            width: auto;
          }

          @media screen and (max-width: $ipad) {
            width: 42%;

            @media screen and (max-width: $bigPhone) {
              width: 85%;

              img {
                height: 140px;
              }
            }
          }
        }
      }
    }

    /* BRONZE COMPANIES */
    #bronzeCompaniesWrap {
      #bronzeCompaniesContainer {
        .companyWrap {
          width: 30%;

          img {
            height: 130px;
            width: auto;
          }

          @media screen and (max-width: $ipad) {
            width: 38%;

            @media screen and (max-width: $bigPhone) {
              width: 75%;
              padding: 5px;

              h3 {
                font-size: 12pt;
                word-break: break-all;
                hyphens: auto;
                -moz-hyphens: auto;
                -webkit-hyphens: auto;
              }

              img {
                height: 80px;
              }
            }
          }
        }
      }
    }

    /* REGULAR COMPANIES */
    #regularCompaniesWrap {
      #regularCompaniesContainer {
        .companyWrap {
          width: 25%;

          img {
            height: 120px;
          }

          @media screen and (max-width: $ipad) {
            width: 33%;

            @media screen and (max-width: $bigPhone) {
              width: 50%;
              padding: 2px;

              h3 {
                font-size: 11pt;
                overflow-wrap: break-word;
              }

              img {
                height: 90px;
              }
            }
          }
        }
      }
    }

    /* STARTUP COMPANIES */
    #startupCompaniesWrap {
      #startupCompaniesContainer {
        .companyWrap {
          width: 20%;

          img {
            height: 110px;
          }

          @media screen and (max-width: $ipad) {
            width: 33%;

            @media screen and (max-width: $bigPhone) {
              width: 50%;
              padding: 2px;

              h3 {
                font-size: 11pt;
                overflow-wrap: break-word;
              }

              img {
                height: 90px;
              }
            }
          }
        }
      }
    }

  }
}
