@import "colors";

#headerWrap {
  background-color: $bannerBackground;
  border-bottom: $border;
  width: 100%;
  z-index: 10000;
  box-shadow: $boxShadow;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: calc(-150px + 60px);
  transition: all 0.3s ease;
  user-select: none;

  #header {
    // background-color: $bannerBackground;
    // border-bottom: $border;
    width: 100%;

    #dropdown {
      position: absolute;
      left: 0;
      top: 149px;
      border: none;
      background-color: $navy;
      box-shadow: none;
      border-radius: 0;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 0px;
      transition: height 0.2s ease, width 0.1s ease;
      width: 0;

      &.dropdownShown {
        width: 200px;
        height: 170px;
        box-shadow: $boxShadow;
        border: $border;
        border-radius: 0 0 3px 3px;
        border-top: none;
      }

      #navigationBox {
        display: flex;
        flex-flow: column wrap;
        font-family: "Lato", "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 10pt;
        width: 100%;

        .navButton {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 20px 15px 20px 15px;
          user-select: none;
          cursor: pointer;
          color: #fff;
          border-left: 4px solid transparent;

          &:hover {
            color: rgba(230, 230, 230, 1);
            border-color: rgba(255, 255, 255, 0.3);
            text-decoration: none;
          }

          &.selected {
            color: #fff;
            border-color: #fff;

            &:hover {
              color: #fff;
              border-color: #fff;
            }
          }
        }
      }
    }

    #navis {
      margin: auto;
      max-width: 1200px;
      min-width: 300px;
      padding-right: 10px;
      padding-left: 10px;
      height: 100%;

      #banner {
        display: flex;
        width: 100%;
        transition: height 0.2s ease;
        height: 90px;

        a:hover {
          text-decoration: none;
        }

        #brand {
          height: 100%;
          display: flex;
          align-items: center;

          .logo {
            padding: 2px;
            height: 100%;

            #highreslogo {
              position: relative;
              bottom: 0;
              width: 65px;
              height: auto;
              transition: all 0.2s ease;

              &.scrolled {
                bottom: 300px;
              }
            }
          }

          #brandName {
            position: relative;
            bottom: 0;
            padding: 5px;
            padding-left: 20px;
            color: #000;
            font-family: "Barlow";
            font-size: 40px;
            font-weight: 700;
            margin-top: 6px;
            transition: all 0.2s ease;

            &.scrolled {
              bottom: 300px;
            }

            span {
              font-weight: 600;
            }
          }

          &:hover {
            #brandName {
              text-decoration: none;
            }
          }
        }
      }

      #navbar {
        position: relative;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 60px;
        max-width: 1200px;
        z-index: 6000;
        transition: all 0.2s ease;

        #nav {
          font-family: "Lato", "Open Sans", Helvetica, Arial, sans-serif;
          font-weight: normal;
          text-transform: uppercase;
          font-size: 11pt;
          height: 100%;
          display: flex;
          align-items: center;

          #navLogo {
            transition: opacity 0.2s ease, width 0.2s ease,
              margin-right 0.2s ease;
            opacity: 0;
            width: 0;
            margin-right: 0;
            padding-top: 3px;
            height: auto;

            &.scrolled {
              opacity: 1;
              width: 40px;
              margin-right: 5px;
            }
          }

          a {
            padding: 20px 10px 16px 10px;
            border-bottom: 4px solid transparent;
            margin: 5px;
            color: $orange;
            white-space: nowrap;

            .fa {
              padding: 2px;
              margin-left: 2px;
            }

            &:not(.selected) {
              &:hover,
              &.hover {
                border-color: $orangeHoverFade;
                text-decoration: none;
              }

              &#contact {
                &.hover {
                  color: #fff;
                  background-color: $navy;
                  border-color: transparent;
                }
              }
            }
          }

          .selected {
            border-bottom: 4px solid $orange;

            &:hover,
            &.hover {
              text-decoration: none;
              color: $orange;
            }

            &#contact {
              &.hover {
                color: #fff;
                background-color: $navy;
                border-color: transparent;
              }
            }
          }
        }

        #sharebar {
          display: flex;
          align-items: center;
          justify-content: space-around;

          //flag
          img {
            cursor: pointer;
            height: 16px;
            width: auto;
            margin-right: 10px;
            transition: all 0.2s ease;
            border-radius: 4px;

            &:hover {
              filter: brightness(75%);
              -webkit-filter: brightness(75%);
            }
          }

          .line {
            height: 50%;
            width: 2px;
            border-left: 2px solid $orangeFade;
            margin: 0 15px 0 15px;
          }

          a {
            .fa {
              margin: 0 7px 0 7px;
              font-size: 1.1em;
              color: $orange;
              transition: color 0.2s ease;
            }

            &:hover {
              .fa {
                color: $orangeHover;
                text-decoration: none;
              }
            }
          }

          #accountIcon {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .fa-sort-down {
              font-size: 14px;
              padding-left: 0;
            }

            .fa-user-circle {
              padding-right: 4px;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

#headerHamburger {
  background-color: $bannerBackground;
  border-bottom: $border;
  width: 100%;
  z-index: 10000;
  box-shadow: $boxShadow;
  /* Safari */
  position: -webkit-sticky;
  position: sticky;
  top: calc(-50px);
  transition: all 0.3s ease;
  user-select: none;

  #navis {
    margin: auto;
    max-width: 1200px;
    padding: 10px;
    height: 100%;

    #banner {
      display: flex;
      width: 100%;
      transition: height 0.2s ease;
      height: 90px;
      justify-content: space-between;
      align-items: center;

      a:hover {
        text-decoration: none;
      }

      #brand {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .logo {
          padding: 2px;
          height: 100%;

          #highreslogo {
            position: relative;
            bottom: 0;
            width: 65px;
            height: auto;
            transition: all 0.2s ease;

            &.scrolled {
              bottom: -27px;
              width: 40px;
            }

            @media screen and (max-width: $smallPhone) {
              width: 55px;
            }
          }
        }

        #brandName {
          position: relative;
          bottom: 0;
          padding: 5px;
          padding-left: 20px;
          color: #000;
          font-family: "Barlow";
          font-size: 40px;
          font-weight: 700;
          transition: all 0.2s ease;

          span {
            font-weight: 600;
          }

          &.scrolled {
            bottom: -27px;
            font-size: 25px;
            padding-left: 10px;
          }

          @media screen and (max-width: $smallPhone) {
            font-size: 30px;
            padding-left: 10px;
          }
        }

        &:hover {
          #brandName {
            text-decoration: none;
          }
        }
      }

      #openNavButton {
        z-index: 7000;
        width: 60px;
        height: 45px;
        margin: 50px 20px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        cursor: pointer;

        span {
          display: block;
          position: absolute;
          height: 9px;
          width: 100%;
          background: whitesmoke;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;

          &:nth-child(1) {
            top: 0px;
          }

          &:nth-child(2),
          &:nth-child(3) {
            top: 18px;
          }
          &:nth-child(4) {
            top: 36px;
          }
        } //span end

        &.open span:nth-child(1) {
          top: 18px;
          width: 0%;
          left: 50%;
          background: whitesmoke;
        }

        &.open span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          background: whitesmoke;
        }

        &.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          background: whitesmoke;
        }

        &.open span:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
          background: whitesmoke;
        }

        &.scrolled {
          height: 0px;
          bottom: -27px;

          span {
            background: black;
          }
        }
      }
    }

    #navPopOut {
      position: fixed;
      top: 0;
      right: 0;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;

      align-items: center;
      width: 0;
      height: 100%;
      z-index: 6000;
      transition: all 0.2s ease;
      background-color: $navy;
      overflow-y: auto;

      &.show {
        width: 100vw;
      }

      #closeNavButtonContainer {
        display: flex;
        justify-content: flex-end;
        padding: 15px;
        width: 100%;

        #closeNavButton {
          font-size: 40px;
          margin-right: 5px;
          color: #fff;
          cursor: pointer;
        }
      }

      #nav {
        font-family: "Lato", "Open Sans", Helvetica, Arial, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 18pt;
        width: 100%;
        display: flex;
        flex-flow: column;
        padding: 10px;

        #navLogo {
          display: none;
        }

        a {
          padding-left: 10px;
          display: inline-block;
          border-left: 10px solid transparent;
          padding-top: 20px;
          padding-bottom: 20px;
          color: whitesmoke;

          .fa {
            padding: 2px;
            margin-left: 2px;
          }
        }

        .selected {
          border-left: 10px solid whitesmoke;
        }
      }

      #sharebar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin-top: 50px;
        flex-wrap: wrap;
        padding: 10px;

        //flag
        #flag {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 50px;

          img {
            cursor: pointer;
            height: 50px;
            width: auto;
            transition: all 0.2s ease;
            border-radius: 4px;

            &:hover {
              filter: brightness(75%);
              -webkit-filter: brightness(75%);
            }
          }
        }

        a {
          display: block;

          .fa {
            margin: 0 7px 0 7px;
            font-size: 3em;
            color: whitesmoke;
            transition: color 0.2s ease;
          }

          &:hover {
            .fa {
              color: $orangeHover;
              text-decoration: none;
            }
          }
        }

        #accountIcon {
          display: flex;
          align-items: center;
          justify-content: space-around;

          .fa-sort-down {
            font-size: 14px;
            padding-left: 0;
          }

          .fa-user-circle {
            padding-right: 4px;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    @media screen and (max-width: 650px) {
    }
  }
}

#headerWrap.transparent {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  box-shadow: none;

  #header {
    #dropdown {
      &.dropdownShown {
        box-shadow: none;
        border: none;
      }
    }

    #navis {
      #banner {
        a {
          #brand {
            #brandName {
              color: #fff;
            }

            &:hover {
              #brandName {
                text-decoration: none;
                cursor: context-menu;
              }

              #highreslogo {
                cursor: context-menu;
              }
            }
          }
        }

        #openNavButton {
          position: relative;
          bottom: 0;
          transition: all 0.2s ease;
          cursor: pointer;
          font-size: 40px;
          color: #fff;

          &.scrolled {
            bottom: -27px;
            // background: black;
          }
        }
      }

      #navbar {
        #nav {
          a {
            color: #fff;
          }

          a:not(.selected) {
            &:hover,
            &.hover {
              border-color: rgba(255, 255, 255, 0.3);
              color: rgba(230, 230, 230, 1);

              &#contact {
                border-color: transparent;
              }
            }
          }

          .selected {
            border-bottom: 4px solid #fff;

            &:hover {
              text-decoration: none;
              color: #fff;
            }
          }
        }

        #sharebar {
          .line {
            border-left: 2px solid #fff;
          }

          a {
            .fa {
              color: #fff;
            }

            &:hover {
              .fa {
                color: rgba(190, 190, 190, 1);
              }
            }
          }
        }
      }
    }
  }
}

#headerHamburger.transparent {
  background-color: transparent;
  border-bottom: 1px solid transparent;
  box-shadow: none;

  #dropdown {
    &.dropdownShown {
      box-shadow: none;
      border: none;
    }
  }

  #navis {
    #banner {
      a {
        #brand {
          #brandName {
            color: #fff;
          }

          &:hover {
            #brandName {
              text-decoration: none;
              cursor: context-menu;
            }

            #highreslogo {
              cursor: context-menu;
            }
          }
        }
      }

      #openNavButton {
        position: relative;
        bottom: 0;
        transition: all 0.2s ease;
        cursor: pointer;
        font-size: 40px;
        color: #fff;

        span {
          background: white;
        }

        &.scrolled {
          bottom: -27px;
          color: #000;
        }
      }
    }

    #navbar {
      #nav {
        a {
          color: #fff;
        }

        a:not(.selected) {
          &:hover,
          &.hover {
            border-color: rgba(255, 255, 255, 0.3);
            color: rgba(230, 230, 230, 1);

            &#contact {
              border-color: transparent;
            }
          }
        }

        .selected {
          border-bottom: 4px solid #fff;

          &:hover {
            text-decoration: none;
            color: #fff;
          }
        }
      }

      #sharebar {
        .line {
          border-left: 2px solid #fff;
        }

        a {
          .fa {
            color: #fff;
          }

          &:hover {
            .fa {
              color: rgba(190, 190, 190, 1);
            }
          }
        }
      }
    }
  }
}
