@import "colors";

#headerHamburger #navis #banner #openNavButton span {
  background: black;
}

#infoGeneralContentContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.contentText {
  margin-top: 15px;
}

.deadspace {
  height: 50px;
}
