@import 'colors.scss';

#studentExpoContainer {
  #studentExpoInfo {
    padding: 15px;
    width: 75%;
    margin-bottom: 0px;

    @media screen and (max-width: $bigPhone) {
      width: 100%;
    }
  }

  #studentExpoApplyForm {
    width: 100%;
    border: none;
    height: 2105px;
    transition: all 0.3s ease;

    @media screen and (max-width: 625px) {
      height: 2210px;
      
      @media screen and (max-width: 502px) {
        height: 2310px;

        @media screen and (max-width: 414px) {
          height: 2380px;

          @media screen and (max-width: 382px) {
            height: 2410px;

            @media screen and (max-width: 360px) {
              height: 2560px;
            }
          }
        }
      }
    }
  }

  #studentExpoVoteForm {
    width: 100%;
    border: none;
    height: 1000px;
    transition: all 0.3s ease;

    @media screen and (max-width: 625px) {
      height: 1080px;
      
      @media screen and (max-width: 502px) {
        height: 1190px;

        @media screen and (max-width: 414px) {
          height: 1260px;

          @media screen and (max-width: 382px) {
            height: 1310px;

            @media screen and (max-width: 360px) {
              height: 1900px;
            }
          }
        }
      }
    }
  }
}