@import "colors";

#news {
  position: fixed;
  top: calc(50vh - (700px * 0.5));
  left: 0;
  height: 700px;
  background-color: $bannerBackgroundFade;
  border: 1px solid $borderColor;
  border-left: none;
  border-radius: 0 6px 6px 0;
  box-shadow: $boxShadow;
  padding: 12px;
  width: fit-content;

  #newsWrap {
    transition: width 0.3s ease;
    overflow: hidden;

    .content {
      padding-right: 20px;
    }
  }

  #arrow {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    cursor: pointer;
    background: linear-gradient(90deg, transparent 0%, $borderColorFade 100%);
    transition: all 0.3s ease;

    &:hover {
      background: linear-gradient(90deg, transparent 0%, rgba(59,72,79,0.3) 100%);

      .fa {
        color: $borderColorSolid;
      }
    }

    .fa {
      color: $borderColor;
      font-size: 40px;
      align-self: center;
      transition: all 0.3s ease;

      &.notShownClass {
        transform: rotate(180deg);
      }
    }

    // span {
    //   position: absolute;
    //   width: 20px;
    //   height: 20px;
    //
    //   &:nth-child(1) {
    //     border-top: $border;
    //     transform: rotate(-45deg);
    //   }
    //
    //   &:nth-child(2) {
    //     border-bottom: $border;
    //     transform: rotate(45deg);
    //   }
    // }
  }
}
